body{
    background: #f6f6f6;
    width: 400px;
    margin: 20px auto;
    font: normal 13px/100% sans-serif;
    color:#444;
}
div{
    display: none;
    padding: 10px;
    border-width:0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}

a, a:visited{
    color: #33739E9E;
    text-decoration: none;
    display: block;
    margin: 10px;
}

#loadMore{
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
}

#loadMore:hover{
    background-color: #fff;
    color: #33739E;
}